@use "sass:math";
@use "./variables" as *;

@function rem($pixelValue) {
  @return math.div($pixelValue, 16) + rem;
}

@mixin alignCenter {
  display: flex;
  align-items: center;
}

.add_to_cart {
  padding: rem(12);
  border-radius: rem(100);
  outline: none;
  border: none;
  color: $white;
  background: $accent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: darken($accent, 5%);
  }
}

.error {
  color: $danger;
  font-size: rem(12);
}
