@use "./index.scss" as *;

.navbar {
  @include alignCenter;
  background-color: $white;
  padding: rem(20) rem(50);
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;

  &-header {
    @include alignCenter;
    gap: rem(20);
    // outline: 1px solid rgb(185, 65, 65);

    &_title {
      font-size: rem(40);
      font-weight: 700;
    }

    &_form {
      @include alignCenter;
      width: rem(450);
      height: rem(45);
      border: rem(1) solid $bdr-clr;
      border-radius: rem(100);
      overflow: hidden;

      .navbar_search {
        flex: 1;
        height: 100%;
        padding: 0 rem(12);
        font-size: 1em;
        border: none;
        outline: none;
      }

      .navbar_search__btn {
        height: 100%;
        width: rem(45);
        padding: 0 rem(8);
        outline: none;
        border: none;
        background: $accent;
        color: $white;
        border-radius: inherit;
        cursor: pointer;
        font-size: rem(18);
      }
    }
  }

  &_links {
    @include alignCenter;
    gap: rem(30);

    .cart {
      position: relative;
      display: inline-flex;
      transition: all 0.3s ease-in-out;

      &_icon {
        font-size: rem(25);
      }

      .order_count {
        position: absolute;
        top: -60%;
        right: -70%;
        width: rem(25);
        height: rem(25);
        @include alignCenter;
        justify-content: center;
        background: $accent;
        border-radius: rem(100);
        font-size: 1em;
        color: $white;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
