@use "./index.scss" as *;

.product_sidebar {
  padding: rem(10) rem(20);
  border-radius: rem(5);
  background: $white;
  height: 85vh;
  overflow-y: auto;

  h2 {
    font-size: rem(26);
    margin-bottom: rem(10);
  }
}
